@charset "utf-8";
.list {
    background-color: #fff;
    padding: 4px 2% 12px;
    margin-top: 12px;
}
.list table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.list table th {
    font-size: 20px;
    font-weight: normal;
    line-height: 42px;
    color: #00a1de;
}
.list table th:first-child {
    width: 5em;
}
.list table th.btce {
    border-bottom: 1px solid #cecece;
}
.list table th.sub {
    font-size: 16px;
    line-height: 24px;
    background-color: #00a1de;
    color: white;
}
.list table tr td {
    font-size: 16px;
    text-align: center;
    color: #666;
    padding: 8px 4px;
}
.list table tr:nth-child(2n+1) td:first-child {
    font-weight: bold;
}
.list table tr:nth-child(4n-1) td {
    background-color: #edf8fd;
}
.list table tr:nth-child(2n) td {
    font-size: 14px;
    line-height: 1;
    padding: 4px;
    background-color: #00a1de;
    color: white;
}
.list table td span {
    font-weight: bold;
    display: inline-block;
}
.list table .list-tip td {
    padding: 3em;
    color: grey;
    font-weight: normal!important;
}