@charset "utf-8";
body {
    background-color: #fff;
}

.list {
    margin-top: 12px;
}
.list table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    color: #666;
}
.list table tr td {
    padding: 12px 0;
}
.list table tr td:first-child {
    padding-left: 1.4em;
    width: 6.4em;
    font-size: 16px;
    color: #202a36;
    text-align: left;
}
.list table tr td:last-child {
    width: 5em;
    font-size: 16px;
    font-weight: bold;
}
.list table tr:nth-child(2n) td {
    background-color: #edf8fd;
}
.list table tr td span {
    display: inline-block;
}