@charset "utf-8";
.info {
    margin: 12px 2% 0 2%;
    background-color: #fff;
}
.info table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 16px;
}
.info table tr td {
    color: #666;
    padding: .7em;
    text-align: center;
}
.info table tr:not(:first-child) td {
    border-top: 1px solid #cecece;
}
.info table tr td:first-child {
    width: 7em;
    color: #202a36;
}